output/
Addons/
adb_cache/
config.toml

locales/
src/ba_modding_toolkit/locales/tmp/
src/ba_modding_toolkit/locales/backup/
src/ba_modding_toolkit/locales/*TMP.json

.vscode/
.trae/
.idea/
__pycache__/

build/
dist/
*.pyc
*.pyo
*.pyd
*.egg-info/

*.pdn
*.exe
*.lnk
*.ini
*.txt